.element__button-delete{
    background-color: transparent;
    border: none;
    position: absolute;
    background-image: url(../../../images/delete.svg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 15px;
    top: 18px;
    width: 18px;
    height: 20px;
}

.element__button-delete:hover{
    cursor: pointer;
    opacity: 0.6;
}